@page
@model Blog.Pages.Post.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BlogPost</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BlogPost.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BlogPost.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BlogPost.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BlogPost.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BlogPost.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BlogPost.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BlogPost.PublishedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BlogPost.PublishedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.BlogPost?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
